{% extends 'accounts/main.html' %}

{% include 'accounts/status.html' %}

{% block content %}
<div class="row">
    <div class="col-md-5 bg-light">
        <h5>CUSTOMER INFORMATION</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block bg-dark" href="/create-customer">Create Customer</a>
            <table class="table table-sm table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th>Customers</th>
                        <th>Orders</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                    <tr>
                        <td><a class="btn btn-sm btn-outline-light bg-dark" href="{% url 'customer' customer.id %}">View Profile</a></td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.phone }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-7 bg-light">
        <h5>LAST 5 ORDERS</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Product</th>
                        <th>Date Ordered</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.product }}</td>
                        <td>{{ order.date_created }}</td>
                        <td>{{ order.status }}</td>
                        <td><a class="btn btn-sm btn-outline-light bg-dark" href="{% url 'update_order' order.id %}">Update</a></td>
                        <td><a class="btn btn-sm btn-outline-light bg-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% include 'accounts/status.html' %}

{% endblock %}
